<div class="home-container" [ngClass]="{'red': this.player == 1,
  'green': this.player == 2,
  'yellow': this.player == 4,
  'blue': this.player == 3     
}">
  <div class="home-container-inside">
    <div class="token-home" [ngClass]="{'red': this.player == 1,
    'green': this.player == 2,
    'yellow': this.player == 4,
    'blue': this.player == 3     
  }"></div>
    <div class="token-home" [ngClass]="{'red': this.player == 1,
    'green': this.player == 2,
    'yellow': this.player == 4,
    'blue': this.player == 3     
  }"></div>
    <div class="token-home" [ngClass]="{'red': this.player == 1,
    'green': this.player == 2,
    'yellow': this.player == 4,
    'blue': this.player == 3     
  }"></div>
    <div class="token-home" [ngClass]="{'red': this.player == 1,
    'green': this.player == 2,
    'yellow': this.player == 4,
    'blue': this.player == 3     
  }"></div>
  </div>
</div>