@import '../../../../theme/variables.scss';

.home-container{
    border: 1px solid $border-color;    
}
.home-container-inside{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid $border-color;
    background-color: $home-background;
}
.token-home{
    border-radius: 50%;
    border: 1px solid $border-color;
}
.red{
    background-color: $red-player-color;
}
.yellow{
    background-color: $yellow-player-color;
}
.green{
    background-color: $green-player-color;
}
.blue{
    background-color: $blue-player-color;
}

@media (min-aspect-ratio: 1/1) {
    .home-container{
        width: $landscape-board-home-size;
        height: $landscape-board-home-size;
        padding: calc($landscape-board-home-size/6); 
    }
    .home-container-inside{
        width: $landscape-board-home-inner-size;
        height: $landscape-board-home-inner-size;
    }
    .token-home{
        width: $landscape-token-home-size;
        height: $landscape-token-home-size;
        margin: calc($landscape-board-home-size/18);
    }
  }
  
  @media (max-aspect-ratio: 1/1) {
    .home-container{
        width: $board-home-size;
        height: $board-home-size;
        padding: calc($board-home-size/6); 
    }
    .home-container-inside{
        width: $board-home-inner-size;
        height: $board-home-inner-size;
    }
    .token-home{
        width: $token-home-size;
        height: $token-home-size;
        margin: calc($board-home-size/18);
    }
  }