@import '../../../../theme/variables.scss';

.marker {
    transform: perspective(40px) rotateX(20deg) rotateZ(-45deg);
    transform-origin: 50% 50%;
    border-radius: 50% 50% 50% 0;
    padding: 0 3px 3px 0;
    position: relative;
    top: -50%;
    margin: auto;
    -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
    box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
    border: 1px solid $border-color;
    z-index: 2;
}

.marker:after {
    content: '';
    margin: auto;
    left: 25%;
    top: 25%;
    display: inline;
    background: $home-background;
    position: absolute;
    border-radius: 50%;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset -2px 2px 4px hsla(0, 0, 0, .5);
    -webkit-box-shadow: inset -2px 2px 4px hsla(0, 0, 0, .5);
    box-shadow: inset -2px 2px 4px hsla(0, 0, 0, .5);
    z-index: 20;
}

.beacon {
    position: relative;
    top: -85%;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1
  }
  
  .beacon:before,
  .beacon:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 4px black;
    -webkit-animation: active 2s infinite linear;
    -moz-animation: active 2s infinite linear;
    animation: active 2s infinite linear;
  }

.beacon:after {
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@-webkit-keyframes active {
    0% {
        -webkit-transform: scale(.1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes active {
    0% {
        transform: scale(.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@media (min-aspect-ratio: 1/1) {
    .marker {
        width: calc($landscape-token-home-size * 2.5/3);
        height: calc($landscape-token-home-size * 2.5/3);
    }
    .marker:after{
        width: calc($landscape-token-home-size * 2/6);
        height: calc($landscape-token-home-size * 2/6);
    }
    .beacon {
        width: $landscape-token-home-size;
        height: $landscape-token-home-size;
      }
      .beacon:before,
      .beacon:after {
        width: $landscape-token-home-size;
        height: $landscape-token-home-size;
      }
  }
  
  @media (max-aspect-ratio: 1/1) {
    .marker {
        width: calc($token-home-size * 2.5/3);
        height: calc($token-home-size * 2.5/3);
    }
    .marker:after{
        width: calc($token-home-size * 2/6);
        height: calc($token-home-size * 2/6);
    }
    .beacon {
        width: $token-home-size;
        height: $token-home-size;
      }
      .beacon:before,
      .beacon:after {
        width: $token-home-size;
        height: $token-home-size;
      }
  
  }