<div class="board-container">
  <div>
    <div class="board-container-inside">
      <div class="board-row">
        <app-player-home [player]="1"/>
        <app-tokens-path [player]="2"/>
         <app-player-home [player]="2"/>
      </div>
      <div class="board-row">
        <app-tokens-path [player]="1"/>
        <app-finish-zone/>
        <app-tokens-path [player]="3"/>
      </div>
      <div class="board-row">
        <app-player-home [player]="4"/>
        <app-tokens-path [player]="4"/>
        <app-player-home [player]="3"/> 
      </div>
    </div>
  </div>
  
</div>