@import '../../../../theme/variables.scss';

.board-container{   
    // overflow: auto;
    margin: auto;
}
.board-container-inside{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.board-row{
    display: flex;
}