@import '../../../../theme/variables.scss';

.path-container-inside {
    display: flex;
    flex-flow: wrap;
}

.cell {
    border: 0.5px solid $border-color;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.icon {
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.icon-red {
    color: $red-player-color;
}
.icon-yellow {
    color: $yellow-player-color;
}

.icon-green {
    color: $green-player-color;
}

.icon-blue {
    color: $blue-player-color;
}

@media (min-aspect-ratio: 1/1) {
    .path-vertical {
        width: calc($landscape-board-home-size/2);
    }
    
    .path-horizontal {
        width: $landscape-board-home-size;
    }
    
    .cell {
        width: calc($landscape-board-home-size/6);
        height: calc($landscape-board-home-size/6);
    }
    .icon {
        line-height: calc($landscape-board-home-size/6);
        font-size: calc($landscape-board-home-size/12);
    }
  }
  
  @media (max-aspect-ratio: 1/1) {
    .path-vertical {
        width: calc($board-home-size/2);
    }
    
    .path-horizontal {
        width: $board-home-size;
    }
    
    .cell {
        width: calc($board-home-size/6);
        height: calc($board-home-size/6);
    }
    .icon {
        line-height: calc($board-home-size/6);
        font-size: calc($board-home-size/12);
    }
  }